<form action=<%=action%> method="POST" style="margin-left:50px; margin-top:50px;">
  <table>
    <tr>
      <td>
        <label for="email">Email: </label>
      </td>
      <td>
        <input id="email" type="email" name="email" placeholder="email" style="width: 300px">
      </td>
    </tr>
    <tr>
      <td>
        <label for="password">Password: </label>
      </td>
      <td>
        <input id="password" type="password" name="password" placeholder="password" style="width: 300px">
      </td>
      <td>
        <input type="submit" value=<%=button%>>
      </td>
    </tr>
  </table>
</form>