<body>
  <h1 style="margin-left:50px; margin-top:50px;">TinyApp URL Shortener</h1>
  <% if (user) { %>
  <table cellpadding="5" style="margin-left:45px; margin-top:40px;">
    <tr>
      <td><b>Welcome, <%=user.email%>! </b></td>
      <td>
        <form action="/logout" method="POST">
          <input id="logout" type="submit" value="Logout">
        </form>
      </td>
    </tr>
  </table>
  <% } else { %>
  <a style="margin-left:50px; margin-top:50px;" href="/register"><b>Register</b></a> &nbsp;|&nbsp; <a href="/login"><b>Login</b></a>
  <% } %>
</body>