<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register - TinyApp</title>
</head>

<body>
  <h1 style="margin: 50px;">TinyApp URL Shortener</h1>
  <h2 style="margin-left: 50px;">Create an account</h2>
  <p style="margin-left: 50px; margin-right: 50px;">Register below to gain access to shortened URLs to the most popular websites and create your own short URLs!</p>
  <% include partials/_email-pass %>
  <br>
  <a style="margin-left: 50px;" href="/login">Already have an account?</a>
</body>
</html>