<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %>
  <table cellpadding="5" style="margin:50px;">
    <tr>
      <th>Original URL</th>
      <th>Shortened URL</th>
    </tr>
    <% for (var url in urls) { %>
    <tr>
      <td> <%= urls[url]["longURL"] %> </td>
      <td> http://localhost:8080/<%= url %> </td>
      <td>
        <a href= <%= "/urls/" + url %> >Edit</a>
      </td>
      <td>
        <form method="POST" action= <%= "/urls/" + url + "/delete" %>>
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
    <% }; %>
  </table>
  <p style="margin:50px;"><a href="/urls/new">Create a new short URL</a></p>
</body>

</html>