<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <table cellpadding="5">
    <tr>
      <th>Original URL</th>
      <th>Shortened URL</th>
    </tr>
    <tr>
      <td> <%= longURL %> </td>
      <td> http://localhost:8080/<%= shortURL %> </td>
    </tr>
  </table>
</body>

</html>