<!DOCTYPE html>
<html lang="en">

<head>
  <title>TinyApp</title>
</head>

<body>
  <% include partials/_header %>
  <table cellpadding="5" style="margin:50px;">
    <tr>
      <th>Original URL</th>
      <th>Shortened URL</th>
    </tr>
    <tr>
      <td> <%= longURL %> </td>
      <td> http://localhost:8080/<%= shortURL %> </td>
    </tr>
  </table>
  <form action=<%= "/urls/" + shortURL %> method="POST" style="margin:50px;">
    <label for="longURL">Edit the original URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
    <input type="submit" value="Update">
  </form>
</body>

</html>